body{
    background: #f8f8f8; /*url('/assets/images/init-bg-compound-transparent.png') 0 0 no-repeat;*/
}

.InitForm table tr td:first-child{
    width:150px;
    vertical-align:middle;
}

.InitForm input[type="submit"]:disabled{
    color: gray !important;
}

.InitForm .buttons{
    padding:0;
}
a {
    color: #337ab7;
    text-decoration: none; 
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline; 
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; 
}

#topmenu a {
    color: white;
    background:none;
    background-color: #616161;
}
#topmenu a:hover {
    background-color: #9a9a9a;
}

#topmenu li.active a,
#topmenu li.active a:hover {
    background-color: white;
    color: #000;
}

.fb-icon{
    width:50px;
}

figure{
    text-align: center;
}

figure img{
    max-width:100%;
}