.lining-residues.select-controls{
    position: absolute;
    right: 0;
    margin-right: 3px;
    padding-top: 7px;
    padding-right: 7px;
}

.lining-residues.select-controls .bt-ionizable{
    margin-right:2px;
}

#right-tabs-2 .datagrid .col.col-1,
#right-tabs-2 .datagrid * .col.col-1{
	width: 18%;
    min-width: 105px;
}

#dg-lining-residues tr.residue-class-blue {
    background-color: #c3e3ff;
}
#dg-lining-residues tr.residue-class-red {
    background-color: #ffa596;
}
#dg-lining-residues tr.residue-class-yellow {
    background-color: #ffff8c;
}
#dg-lining-residues tr.residue-class-purple {
    background-color: #e3b6ff;
}
#dg-lining-residues tr.residue-class-green {
    background-color: #adffad;
}