a,a img {
    border: none;
    outline: none;
    color: #05f
}

#header ol,ul {
    list-style: none;
    padding: 0;
    margin: 0
}

td {
    vertical-align: top
}

#ajaxspinner {
    position: absolute;
    left: 50%;
    top: 35%;
    margin: -15px 0 0 -15px;
    display: none;
    background: #fff url('/images/spinner.gif') no-repeat 50% 50%;
    padding: 13px;
    border: 2px solid #CCC
}

#page {
    width: 980px;
    margin: 10px auto
}

.groupbox {
    padding: 7px;
    margin: 0 0 7px 0;
}

.groupbox table {
    margin-top: 0
}

p,div.p {
    padding: 0;
    margin: 0 0 10px 0
}

a,.link {
    text-decoration: underline;
    cursor: pointer;
    color: #05f
}

form {
    margin: 0;
    padding: 0
}

input[type=text] {
    border: 1px solid #ccc;
    padding: 2px;
    color: #333;
    margin: 0;
    position: relative;
    z-index: 5;
    font-size: 12px
}

.buttons {
    padding: 0 0 10px 30px;
    overflow: hidden
}

input[type=checkbox],input[type=radio] {
    outline: none
}

a.button,input[type=submit],input[type=button] {
    float: left;
    padding: 0 10px;
    margin: 0 5px 0 0;
    text-shadow: #fff 0 1px 0;
    border: 1px solid #707070;
    display: block;
    background: #f0f0f0 url('/images/front/btn.png') repeat-x 0 50%;
    color: #000 !important;
    font-size: 13px !important;
    cursor: pointer;
    text-decoration: none;
    height: 27px;
    line-height: 27px
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table td,table th {
    padding: 4px 0;
    margin: 0
}

span.hint,div.hint {
    background: #d5e9ee;
    border: 2px solid #9cc6d0;
    color: #0f4b74;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    z-index: 1000;
    max-width: 385px;
    margin: 4px 15px 0 0;
    position: relative;
    display: none
}
