.header-gradient-text {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.header-icon {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

body {
    background: #f8f8f8
}

.InitForm table tr td:first-child {
    vertical-align: middle
}

.InitForm input[type="submit"]:disabled {
    color: gray !important
}

.InitForm .buttons {
    padding: 0
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
figure {
    text-align: center
}

figure img {
    max-width: 100%
}

.tabs .ui-state-active,
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

h2 {
    border-bottom: 1px solid #999;
    margin-bottom: 5px
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px
}

body {
    background: white;
    color: #333
}

.help {
    cursor: help
}

.hand {
    cursor: pointer
}

.disabled {
    cursor: not-allowed;
    color: #777
}

#controls {
    min-width: 330px
}

.nav>li>a {
    padding: 2px 8px
}

.nav {
    padding-top: 4px
}

#left-tabs .nav {
    padding-left: 4px
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    border-bottom-color: #9a9a9a
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #333;
    background-color: #fff;
    border-top-color: #9a9a9a;
    border-right-color: #9a9a9a;
    border-left-color: #9a9a9a
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background-color: #9a9a9a;
    border-bottom-color: #9a9a9a;
    color: white
}

.nav-tabs>li>a {
    color: #333
}

.tooltip.in {
    opacity: 1 !important
}

.tooltip>.tooltip-inner {
    max-height: 170px;
    max-width: 400px
}

figure {
    filter: saturate(0.5);
    /* transition: filter 0.3s ease; */
}

figure:hover {
    filter: saturate(1.2);
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}