.header-gradient-background {
    background: linear-gradient(90deg, #00dc9a, #00d0ff, #007bff);
    color: white;
    padding: 0.75rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-right: 1.5rem;
    border-radius: 0.375rem 0 0 0.375rem;
    z-index: 1;
    width: 35rem;
}

.header-gradient-text {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.header-icon {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.fade.in {
    opacity: 1
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.detail .alert-messages-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    padding: 15px;
    margin-top: 60px;
    z-index: 1000;
    display: none
}

.detail .alert-messages-container.active {
    display: block;
    cursor: pointer
}

.index .alert-messages-container .alert {
    margin-bottom: 8px
}

.controls-option-like-list {
    padding-top: 5px;
    padding-bottom: 5px
}

.control-text span {
    display: block;
    float: none;
    height: 30px;
    line-height: 27px;
    padding-top: 5px
}

.modal-dialog .left-button,
.modal-dialog .right-button {
    width: 49%
}

.modal-dialog .left-button {
    margin-right: 1%
}

.modal-dialog .right-button {
    margin-left: 1%
}

.submit-form-container .mode-switch {
    margin-top: 4px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 7px;
    padding: 1px 5px
}

.settings-form .tooltip>.tooltip-inner {
    min-width: 180px;
    min-height: 30px;
    line-height: 15px;
    color: red !important;
    background-color: #ffdfdf !important;
    opacity: 0.9;
    box-shadow: red 0px 0px 1px
}

.settings-form .tooltip.bottom>.tooltip-arrow {
    border-bottom-color: red
}

body {
    background: #f8f8f8
}

.InitForm table tr td:first-child {
    vertical-align: middle
}

.InitForm input[type="submit"]:disabled {
    color: gray !important
}

.InitForm .buttons {
    padding: 0
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
figure {
    text-align: center
}

figure img {
    max-width: 100%
}

.wrapper-container {
    width: 100%;
    position: absolute;
    left: 0;
    margin: auto auto;
    padding-top: 3px;
    padding-left: 4px
}

.tabs .ui-state-active,
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

h2 {
    border-bottom: 1px solid #999;
    margin-bottom: 5px
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px
}

a.section-header {
    color: #333;
    text-decoration: none
}

a.section-header:hover {
    color: red
}

.show-all {
    position: absolute;
    right: 0;
    top: 0
}

body {
    background: white;
    color: #333
}

.home-button {
    width: 55px;
    height: 50px;
    position: fixed;
    z-index: 950;
    line-height: 40px;
    text-align: center;
    font-size: 13pt;
    background-color: #f8f8f8;
    border-bottom-right-radius: 100px;
    left: 0px;
    padding-right: 15px;
    border-bottom: #ccc 1px solid;
    box-shadow: #ccc 1px 0px
}

.home-button a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #777
}

.home-button img {
    width: 20px;
    height: 20px;
    margin-top: -5px
}

.home-button a:hover {
    color: #555
}

.help {
    cursor: help
}

.hand {
    cursor: pointer
}

.disabled {
    cursor: not-allowed;
    color: #777
}


#controls {
    min-width: 330px
}

.form-group .form-3-input {
    width: 33%;
    float: left
}

.form-group .form-3-input:first-child {
    margin-right: 0.5%
}

.form-group .form-3-input:last-child {
    margin-left: 0.5%
}

.nav>li>a {
    padding: 2px 8px
}

.nav {
    padding-top: 4px
}

#left-tabs .nav {
    padding-left: 4px
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    border-bottom-color: #9a9a9a
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #333;
    background-color: #fff;
    border-top-color: #9a9a9a;
    border-right-color: #9a9a9a;
    border-left-color: #9a9a9a
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background-color: #9a9a9a;
    border-bottom-color: #9a9a9a;
    color: white
}

.nav-tabs>li>a {
    color: #333
}

.tooltip.in {
    opacity: 1 !important
}

.tooltip>.tooltip-inner {
    max-height: 170px;
    max-width: 400px
}

.controls-panel-label-tooltip+.tooltip>.tooltip-inner {
    border: 1px solid #777;
    max-width: 180px
}

figure {
    filter: saturate(0.5);
    /* transition: filter 0.3s ease; */
}

figure:hover {
    filter: saturate(1.2);
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}